DB_DSN=postgresql://user:password@postgres-db:5432/database
API_SECRET=replace-with-at-least-32-random-characters
ADMIN_SESSION_SECRET=replace-with-another-32-character-random-secret

# true にする時はoriginへの直接接続を遮断すること！
TRUST_CLOUDFLARE_PROXY=false
CACHE_SIZE_LIMIT_BYTES=268435456
